services:
  benchmark-client:
    build:
      context: ..
      dockerfile: client/Dockerfile
    container_name: benchmark_client
    environment:
      - CLIENT_REGION=${CLIENT_REGION:-same_region}
      - REST_SERVER_URL=${REST_SERVER_URL:-http://149.165.175.102:5002}
      - NATIVE_MCP_URL=${NATIVE_MCP_URL:-http://149.165.175.102:8050}
      - LAYERED_MCP_URL=${LAYERED_MCP_URL:-http://149.165.175.102:8051}
      - MODEL_CARD_ID=${MODEL_CARD_ID:-megadetector-mc-67f31106}
      - SOURCE_NODE_ID=${SOURCE_NODE_ID:-4:995d2e90-888a-4c7c-a7bc-e9188e945381:2688}
      - TARGET_NODE_ID=${TARGET_NODE_ID:-4:995d2e90-888a-4c7c-a7bc-e9188e945381:87}
      - NUM_REQUESTS=${NUM_REQUESTS:-1}
      - WARMUP_REQUESTS=${WARMUP_REQUESTS:-10}
    network_mode: host
    volumes:
      - ./results:/app/results
    restart: "no"

